
header {
  height: 350px;
  width: 100%;
  margin-top: 100px;
  left: 0px;
  right: 0px;
  position: relative; 
  background-color: rgb(243, 230, 93);
  background-image: url(https://www.transparenttextures.com/patterns/absurdity.png);
}

header > div {
  text-align: center;
  padding-top: 1.5em;
}

header > div > h2 {
  margin-top: 0px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2em;
  color: #d4550b;
}

