
#nav-bar {
  position: fixed;
  top: 0;
  /* right: 0;
  left: 0; */
  height: 120px;
  width: 100%;
  font-family: 'Bungee', cursive;
  background-color: rgb(29, 161, 242);
  color: #ffffff;
  padding: 1.6em;
  z-index: 9999;
}

.header {
  /* float: left; */
  margin-left: 20px;
  font-size: 3em;
  line-height: 2.5;
}

.nav-text {
  font-size: 1.5em;
  color: #ffffff;
}

#composeButton {
  float: right;
  margin-left: 20px;
  font-size: 0.7em;
  margin-right: 20px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(29, 161, 242);
  border-radius: 20px;
  font-family: 'Bungee', cursive;
}

#composeButton > p {
  margin: 0;
  display: inline-block;
}

#composeButton:hover {
  background-color: #fffb04;
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  cursor: pointer;
}

