
#nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 120px;
  width: 100%;
  font-family: 'Bungee', cursive;
  background-color: rgb(9, 128, 102);
  color: #e8f8f8;
  padding: 1.5em;
  z-index: 10;
}

.header {
  float: left;
  margin-left: 10px;
  font-size: 3em;
  line-height: 2.5;
}

.nav-text {
  font-size: 1.3em;
  color: white;
}

#composeButton {
  float: right;
  margin-left: 10px;
  font-size: 0.9em;
  margin: 10px;
  padding: 15px;
  background-color: rgb(9, 128, 102);
  color: #040553;
}

#composeButton > span {
  float: left;
  margin-right: 5px;
}

#composeButton > p {
  margin: 0;
  display: inline-block;
}

#composeButton:hover {
  background-color: #bb7813;
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  cursor: pointer;
}

