
.form-submit {
  background-color: transparent;
  border-bottom: 4px solid  rgb(65, 45, 2);
  width: 100%;
  height: 50px;
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 0.6em;
  text-align: left;
}

.tweetbutton {
  background-color: rgb(9, 61, 231);
  float: left;
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  border-radius: 6px;
  padding: 15px;
}

input[type="submit"]:hover {
  background-color: #bb7813;
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}

.counter {
  font-family: 'Bungee', cursive;
  color: #012c3d;
  float: right;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.2em;
  text-align: left;
}

